In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("C:/Users/a.n.shaikh0129/OneDrive/Desktop/Masai/Assignment/Live Project-1/data.csv")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16774 entries, 0 to 16773
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      16774 non-null  datetime64[ns]
 1   Retailer  16774 non-null  object
 2   Company   16774 non-null  object
 3   Margin    16774 non-null  float64
 4   Amount    16774 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 655.4+ KB

In [16]:
df['Date'] = pd.to_datetime(df['Date'])

In [22]:
df['Year'] = df['Date'].dt.year

In [26]:
df['Month'] = df['Date'].dt.month

In [28]:
df['Day'] = df['Date'].dt.day

In [38]:
#Financial month
month_dict = {4:1,5:2,6:3,7:4,8:5,9:6,10:7,11:8,12:9,1:10,2:11,3:12}

In [44]:
df['Fincial Month']= df['Month'].map(month_dict)

In [54]:
df['Financial Month'] = df.apply(lambda x: f"{x['Year']}-{x['Year'] + 1}" 
                                  if x['Month'] >=4 else f"{x['Year'] - 1}-{x['Year']}", axis=1)

In [56]:
df.tail()

,Date,Retailer,Company,Margin,Amount,Year,Month,Day,Fincial Month,Financial Month
16769,2019-07-14,SparkWave,AnchorVolt Industries,170.66,949.40,2019,7,14,4,2019-2020
16770,2019-07-14,SparkWave,AnchorVolt Industries,143.12,1702.96,2019,7,14,4,2019-2020
16771,2019-07-14,SparkWave,AnchorVolt Industries,260.72,2835.64,2019,7,14,4,2019-2020
16772,2019-07-14,SparkWave,ElectroSaar Fabricators,-26.32,568.00,2019,7,14,4,2019-2020
16773,2019-07-14,SparkWave,ElectroSaar Fabricators,101.00,624.00,2019,7,14,4,2019-2020